* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #321e1e;
  background-color: #f4f1e0;
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
