.container {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4vh;
  padding: 4vh;
}

@media (min-height: 800px) {
  .container {
    margin-top: 80px;
  }
}